@keyframes aparecer {
    0% {
        opacity: 0;
        transform: scale(0.4);
    } 20% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

@keyframes desaparecer {
    0% {
        transform: scale(1);
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(0.4);
    }
}