.body-container-five {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 40px 0 0 0;
    user-select: none;
}

.select-cont-five {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    background-color: #0e001c;
}

.select-cont-five .title-general {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    max-width: 450px;
    border: 2px solid #3f0079;
    font-family: 'Bebas Neue', sans-serif;
    color: #3f0079;
}

.select-cont-five .title i {
    margin: 0 5px 0 0;
}

.select-cont-five .select-day .fa-solid.fa-caret-right {
    right: 20px;
}
.select-cont-five .select-day .fa-solid.fa-caret-left {
    left: 20px;
}

.select-cont-five .select-day {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100px;
    border-left: 2px solid #3f0079;
    border-right: 2px solid #3f0079;
}

.select-cont-five .select-day i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3f0079;
    position: absolute;
    font-size: 24px;
    width: 55px;
    height: 40px;
    border: 2px solid #3f0079;
    transition: all 0.5s ease;
}

.select-cont-five .select-day i:hover {
    border: 2px solid rgba(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.body-container-five .select-hour {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 100px;
    padding: 0 0 20px 0;
    border-left: 2px solid #3f0079;
    border-right: 2px solid #3f0079;
    border-bottom: 2px solid #3f0079;
}

.body-container-five .hours div {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    gap: 10px;
}

.body-container-five .hours div,
.body-container-five .hours h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Bebas Neue', sans-serif;
    color: #3f0079;
}

.body-container-five .hours button {
    font-family: 'Bebas Neue', sans-serif;
    font-size: medium;
    border: 2px solid #3f0079;
    color: #3f0079;
    width: 80px;
    height: 40px;
    background-color: #0e001c;
    transition: all 0.5s ease;
}

.body-container-five .hours button i {
    margin: 0 0 0 5px;
}

.body-container-five .hours button:hover {
    color: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.select-day-cont-five {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 270px;
    font-family: 'Bebas Neue', sans-serif;
    color: #3f0079;
}

.selecionado {
    color: rgba(255, 255, 255, 0.35) !important;
    border: 2px solid rgba(255, 255, 255, 0.35) !important;
}

.selecionado:hover {
    color: rgba(255, 255, 255, 0.7) !important;
    border: 2px solid rgba(255, 255, 255, 0.7) !important;
}

.body-container-five .list-selects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: auto;
    min-height: 60px;
    border-left: 2px solid #3f0079;
    border-right: 2px solid #3f0079;
    border-bottom: 2px solid #3f0079;
}

.body-container-five .list-selects .list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Bebas Neue', sans-serif;
    width: 100%;
    gap: 10px;
    max-width: 450px;
    color: #3f0079;
}

.body-container-five .list-selects .list .visualDate {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #3f0079;
    padding: 5px 10px;
    width: 200px;
}

.body-container-five .list-selects .list .visualHour {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #3f0079;
    padding: 5px 10px;
    width: 80px;
}

.body-container-five .list-selects h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: #3f0079;
}

.body-container-five .select-curse {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    border-left: 2px solid #3f0079;
    border-right: 2px solid #3f0079;
}

.body-container-five .select-curse .title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    color: #3f0079;
    margin: 20px 0;
}

.body-container-five .select-curse .body {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    gap: 10px;
    margin: 0 0 20px 0
}

.body-container-five .select-curse .body button {
    width: 180px;
    height: 40px;
    background-color: #0e001c;
    border: 2px solid #3f0079;
    color: #3f0079;
    font-family: 'Bebas Neue', sans-serif;
    transition: all 0.5s ease;
}

.body-container-five .select-curse .body button:hover {
    border: 2px solid rgba(255, 255, 255, 0.7);
    color:rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.body-container-five .select-curse .body button i {
    margin: 0 0 0 5px;
}

.body-container-five .select-cont-five .preencher {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 450px;
    border-bottom: 2px solid #3f0079;
    border-left: 2px solid #3f0079;
    border-right: 2px solid #3f0079;
    padding: 0 0 20px 0;
}

.body-container-five .select-cont-five .preencher h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: #3f0079;
}

.body-container-five .select-cont-five .preencher h2 i {
    margin: 0 5px 0 0;
}

.body-container-five .select-cont-five .preencher input {
    font-family: 'Bebas Neue', sans-serif;
    padding: 0 20px;
    width: 240px;
    height: 40px;
    outline: none;
    background-color: #0e001c;
    border: 2px solid #3f0079;
    color: #3f0079;
    transition: all 0.5s ease;
}

.body-container-five .select-cont-five .preencher input::placeholder {
    color: #3f0079;
    transition: all 0.5s ease;
}

.body-container-five .select-cont-five .preencher input:hover {
    color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.7);
}

.body-container-five .select-cont-five .preencher input:hover::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.body-container-five .select-cont-five .preencher input:focus::placeholder {
    color: transparent;
}

.body-container-five .select-cont-five .preencher input:focus {
    background-color: rgba(0, 0, 0, 0.7);
}

.body-container-five .select-cont-five .preencher button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border: 2px solid #3f0079;
    background-color: #0e001c;
    color: #3f0079;
    font-family: 'Bebas Neue', sans-serif;
    transition: all 0.5s ease;
}

.body-container-five .select-cont-five .preencher button h2 {
    transition: all 0.5s ease;
}

.body-container-five .select-cont-five .preencher button:hover {
    border-color: rgba(255, 255, 255, 0.7) !important;
    cursor: pointer;
}

.body-container-five .select-cont-five .preencher button:hover h2 {
    color: rgba(255, 255, 255, 0.7) !important;
}

.body-container-five .select-cont-five .preencher button i {
    margin: 0 0 0 5px;
}