.body-container-four {
    position: relative;
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    color: #3f0079;
    letter-spacing: -0.75px;
    user-select: none;
    margin: 0 20px;
}

.body-container-four h4 {
    max-width: 700px;
}

.body-container-four h2 {
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 2px 2px 2px black;
    margin: 30px 0;
}

.body-container-four span {
    border: none;
    background-color: #3f0079;
    color: #0e001c;
    font-family: 'Courier New', Courier, monospace;
    padding: 1px 5px;
}

.body-container-four span i {
    zoom: 0.9
}